.container {
  /* background-color: red; */
}

.goal {
  padding: 10px;
  background-color: rgb(245, 245, 245);
  border-radius: 5px;
  width: fit-content;
  margin: 15px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal p {
  margin: 0 10px;
}
.goal .add {
  font-size: 10px;
  background-color: #fff;
  border-radius: 50%;
  padding: 3px;
}
.goalInput {
  width: 100%;
  border: 0;
  border-bottom: 2px solid black;
  padding: 10px 7px;
  font-size: 18px;
  margin-bottom: 15px;
}
.goalInput:focus {
  outline: none;
}
.goalInput::placeholder {
  color: rgb(209, 209, 209);
  font-weight: 700;
}

.goalList {
  display: flex;
  flex-direction: column-reverse;
}
.goalComponent {
  display: flex;
  margin: 10px 0;
  font-size: 18px;
  align-items: center;
}
.goalComponent:first-child {
  margin-bottom: 0;
}
.goalComponent:last-child {
  margin-top: 0;
}
.goalComponent input {
  transform: scale(1.6);
  margin-right: 10px;
}

.submitBox {
  display: flex;
}
.goalCheckBox {
  margin-top: 15px;
  transform: scale(1.6);
}
