.setting {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  align-items: center;
}
.profile {
  padding: 15px 0;
}
.follow {
  padding: 15px 0;
}
.goal {
  padding: 15px 0;
  border-top: 1px solid rgb(248, 248, 248);
  border-bottom: 1px solid rgb(248, 248, 248);
}
.goalLink {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
.goalIcon {
  font-size: 10px;
  color: rgb(204, 204, 204);
}
